/* .form-wrapper {
  border-radius: 5px;
  background-color: rgb(200, 160, 74);
  padding: 20px;
  width: 300px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

button { 
  cursor: pointer
}

body {
  background-color: #fffefa;
  background-image: url("https://www.transparenttextures.com/patterns/grey-washed-wall.png");
  font-size: .9em;
  font-family: "Trirong", serif;
}

.bookingIdClick:hover {
  cursor: pointer 
}

.modal-mask {
  background-color: #000000de;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.editBookingForm label {
  width: 25%;
  text-align: left;
}

.modal-thing {
  background-color: #cacaca;
  color: black;
  /* width: 1000px;
  height: 1000px; */
  position: absolute;
  padding: 5% 15%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: flex; */
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;

}

.modal-thing h1 {
  width: 100%;
}

table {
  margin: auto;
  width: 90%;
  /* border: 6px solid rgb(1, 21, 1); */
  padding: 10px;
  border-collapse: collapse;
  border-spacing: auto;
  border-radius: 20px;
  
}

.droppedStatus{
  background-color: rgba(144, 181, 236, 0.9);
}

.noShowStatus{
  background-color: rgba(240, 144, 168, 0.6);
  
}

.pickedUpStatus{
  background-color: rgba(171, 226, 145, 0.6);
  
}

.cancelledStatus{
  background-color: rgba(46, 46, 43, 0.6);
  text-decoration: line-through;
}

.searchBar{
  font-size: 1.5em; 
  line-height: 1.5em;
  width: 25%;
}


th {
  background-color: #234880;
  color: white;
}

th, td {
  text-align: center;
  
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 7px;
}

.defaultStatus{
  background-color: rgba(248, 248, 236, 0.8);
}

.sticky-column {
  position: sticky;
  top: 0
}

.dispatchGrid {
  max-height: 600px;
  overflow-y: scroll;
  width: 100%;
}

thead {
  /* display: block; */
  margin-top: 20px solid black;
}

/* tbody{
  display:block;
  height:90%;
  width:100%;
  overflow-y: auto;
} */

.navbar {
  margin: 10px;
  display: block;
  justify-content: space-around;
}

a:link,a:visited {
  color: black
}

.navbar a {
  cursor: pointer;
}

.nav-item {
  font-weight: bold;
  border: 3px ridge #0e0b02;
  margin: 3px 10px;
  font-size: 24pt;
  padding: 10px;
}

/* .bookingRowNavLink {

} */
