/* .form-wrapper {
  border-radius: 5px;
  background-color: rgb(200, 160, 74);
  padding: 20px;
  width: 300px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* button { 
  margin:  2rem;
} */

body {
  background-color: #b2cccc;
  background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
}


.modal-mask {
  background-color: #0c0c0cc6;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.editBookingForm label {
  width: 25%;
  text-align: left;
}

.modal-thing {
  background-color: #87857f;
  color: black;
  /* width: 1000px;
  height: 1000px; */
  position: absolute;
  padding: 5% 15%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: flex; */
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;

}

.modal-thing h1 {
  width: 100%;
}

table {
  margin: auto;
  width: 90%;
  /* border: 6px solid rgb(1, 21, 1); */
  padding: 10px;
  border-collapse: collapse;
  border-spacing: auto;
  
}

th {
  background-color: #4287f5;
  color: white;
}

th, td {
  /* max-width: 200px ;
  min-width: 100px; */
  text-align: center;
  
  border-bottom: 2px solid grey;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  padding: 7px;
}

.sticky-column {
  position: sticky;
  top: 0
}

.dispatchGrid {
  border: 1px solid #eeccee;
  max-height: 600px;
  overflow-y: scroll;
  width: 100%;
}

thead {
  /* display: block; */
  margin-top: 20px solid black;
}

/* tbody{
  display:block;
  height:90%;
  width:100%;
  overflow-y: auto;
} */

.navbar {
  margin: 10px;
  display: block;
  justify-content: space-around;
}

a:link,a:visited {
  color: black
}

.navbar a {
  cursor: pointer;
}

.nav-item {
  font-weight: bold;
  border: 3px ridge #0e0b02;
  margin: 3px 10px;
  font-size: 24pt;
  padding: 10px;
}

/* .bookingRowNavLink {

} */
